Repository chastlyregino/PhotoComp--React-Cypress: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern .gitignore --fix

Add login
  cypress/e2e/login.cy.ts
  cypress/fixtures/login-success.json
  src/App.tsx
  src/context/AuthService.tsx
  src/pages/Login.tsx
  src/util/axios.tsx
  tests/Login.test.tsx
Due: none

add peeking functionality to password
  package-lock.json
  package.json
  src/components/PasswordInput.tsx
  src/pages/UserManagement.tsx
Due: none

flip eye icons
  src/components/PasswordInput.tsx
Due: none

break up userManagement into accountinfo, deleteAcc, passChange
  src/api/userApi.ts
  src/components/account/AccountInfoCard.tsx
  src/components/account/DeleteAccountCard.tsx
  src/components/account/PasswordChangeCard.tsx
  src/hooks/useUserManagement.ts
  src/pages/UserManagement.tsx
  src/util/validators.ts
Due: none

Able to create an org
  src/api/organizationApi.ts
  src/components/organization/CreateOrganizationCard.tsx
  src/components/organization/OrganizationsListCard.tsx
  src/hooks/useOrganizationManagement.ts
  src/pages/UserManagement.tsx
Due: none

user-management page with mock data
  package-lock.json
  package.json
  src/App.tsx
  src/pages/UserManagement.tsx
Due: none

load in user info + view organizations + role
  src/App.tsx
  src/components/ProtectedRoute.tsx
  src/context/AuthProvider.tsx
  src/hooks/useUserManagement.ts
  src/main.tsx
  src/pages/UserManagement.tsx
Due: none

Fix error with hook throwing error on successful profile load
  src/api/userApi.ts
  src/hooks/useUserManagement.ts
  src/pages/UserManagement.tsx
Due: none

remove home from protected routes
  src/App.tsx
Due: none

break up UserManagement.tsx into MVC
  src/components/user-management/controller/UserManagementController.tsx
  src/components/user-management/index.ts
  src/components/user-management/model/UserManagementModel.ts
  src/components/user-management/view/UserManagementView.tsx
  src/pages/UserManagement.tsx
Due: none

index.ts for entry point to controller
  src/components/user-management/index.ts
Due: none

api, hooks, views, model, controller, util now under user-management component
  src/components/user-management/api/organizationApi.ts
  src/components/user-management/api/userManagementApi.ts
  src/components/user-management/controller/UserManagementController.tsx
  src/components/user-management/hooks/useOrganizationManagement.ts
  src/components/user-management/hooks/useUserManagement.ts
  src/components/user-management/index.ts
  src/components/user-management/model/AccountModel.ts
  src/components/user-management/model/OrganizationModel.ts
  src/components/user-management/utils/validators.ts
  src/components/user-management/view/UserManagementView.tsx
  src/components/user-management/view/account/AccountInfoCard.tsx
  src/components/user-management/view/account/DeleteAccountCard.tsx
  src/components/user-management/view/account/PasswordChangeCard.tsx
  src/components/user-management/view/organization/CreateOrganizationCard.tsx
  src/components/user-management/view/organization/OrganizationsListCard.tsx
Due: none

remove unneeded comment
  src/components/user-management/view/UserManagementView.tsx
Due: none

SCRUM-70 fix the jest env, and test for router
  jest.setup.ts
  src/pages/Login.tsx
  tests/Login.test.tsx
  tests/OrganizationCard.test.tsx
  tests/Register.test.tsx
  tests/utils/test-utils.tsx
Due: none

Add sidebar
  package-lock.json
  package.json
  src/App.tsx
  src/components/bars/SideBar.tsx
  src/main.tsx
  src/pages/Home.tsx
Due: none

formatter
  cypress/e2e/login.cy.ts
  cypress/e2e/register.cy.ts
  cypress/fixtures/login-success.json
  cypress/fixtures/register-success.json
  cypress/tsconfig.json
  eslint.config.js
  jest.setup.ts
  src/App.tsx
  src/components/bars/SideBar.tsx
  src/context/AuthContext.tsx
  src/context/AuthProvider.tsx
  src/context/AuthService.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/util/axios.tsx
  tests/Login.test.tsx
  tests/Register.test.tsx
  tests/utils/test-utils.tsx
  tsconfig.jest.json
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --ignore-pattern .gitignore --fix

made sidebar as a sidebar visually
  src/pages/Home.tsx
Due: none

update login component
  src/App.tsx
  src/components/forms/AuthForm.tsx
  src/components/forms/FormButton.tsx
  src/components/forms/FormContainer.tsx
  src/components/forms/FormInput.tsx
  src/components/routes/ProtectedRoute.tsx
  src/context/AuthProvider.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/styles/auth.css
Due: prettier --write

Update Register; Fix the Login again
  src/components/forms/FormButton.tsx
  src/components/forms/FormInput.tsx
  src/components/forms/FormRow.tsx
  src/context/AuthService.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/styles/auth.css
Due: prettier --write

Update the tests, modularized the code
  eslint.config.js
  public/Capsulexpromediumuc-DA20.otf
  src/App.tsx
  src/components/forms/AuthForm/AuthForm.test.tsx
  src/components/forms/AuthForm/AuthForm.tsx
  src/components/forms/FormButton/FormButton.test.tsx
  src/components/forms/FormButton/FormButton.tsx
  src/components/forms/FormContainer/FormContainer.test.tsx
  src/components/forms/FormContainer/FormContainer.tsx
  src/components/forms/FormInput/FormInput.test.tsx
  src/components/forms/FormInput/FormInput.tsx
  src/components/forms/FormRow/FormRow.test.tsx
  src/components/forms/FormRow/FormRow.tsx
  src/components/routes/ProtectedRoute/ProtectedRoute.test.tsx
  src/components/routes/ProtectedRoute/ProtectedRoute.tsx
  src/context/AuthService.tsx
  src/main.tsx
  src/pages/Login/Login.test.tsx
  src/pages/Login/Login.tsx
  src/pages/Register/Register.test.tsx
  src/pages/Register/Register.tsx
  src/styles/auth.css
  src/utils/axios.tsx
  src/utils/test-utils.tsx
  tests/Login.test.tsx
  tests/OrganizationCard.test.tsx
  tests/Register.test.tsx
  tsconfig.jest.json
Due: prettier --write, eslint --ignore-pattern .gitignore --fix

Fix the Auth Context
  src/components/routes/ProtectedRoute/ProtectedRoute.tsx
  src/context/AuthContext.tsx
  src/context/AuthProvider.tsx
Due: none

Add back button, and modify global styles
  src/components/backButton/BackButton.test.tsx
  src/components/backButton/BackButton.tsx
  src/main.tsx
  src/pages/Login/Login.tsx
  src/pages/Register/Register.tsx
  src/styles/auth.css
  src/styles/global.css
Due: prettier --write

Fix the tests
  src/components/backButton/BackButton.test.tsx
  src/components/backButton/BackButton.tsx
  src/pages/Login/Login.tsx
  src/pages/Register/Register.tsx
Due: none

Top Bar and components
  src/components/bars/SearchBar/SearchBar.test.tsx
  src/components/bars/SearchBar/SearchBar.tsx
  src/components/bars/TopBar/TopBar.test.tsx
  src/components/bars/TopBar/TopBar.tsx
  src/components/navButton/NavButton.test.tsx
  src/components/navButton/NavButton.tsx
  src/pages/Home.tsx
  src/pages/Login/Login.tsx
  src/pages/Register/Register.tsx
  src/styles/auth.css
  src/styles/topBar.css
Due: prettier --write

Rename BackButton to NavButton and fix tests
  src/components/navButton/NavButton.test.tsx
Due: none

Add the footer
  src/App.tsx
  src/components/bars/Footer/Footer.test.tsx
  src/components/bars/Footer/Footer.tsx
  src/main.tsx
  src/styles/footer.css
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.css) or (any of: *.{js,vue})
  eslint --ignore-pattern .gitignore --fix: any of: *.{js,vue}
