Repository chastlyregino/PhotoComp--React-Cypress: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern .gitignore --fix

.lintstagedrc.json:

{
   "*.css": [
     "prettier --write"
   ], 
   "*.{js,vue}" : [
     "prettier --write", 
     "eslint --ignore-pattern .gitignore --fix"
   ]
}

husky fix
  .husky/pre-commit
Due: none

husky config
  .gitignore
  .husky/pre-commit
  .prettierignore
  .prettierrc.json
  package.json
  src/App.css
  src/App.tsx
Due: prettier --write

original
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  config/eslint.config.js
  eslint.config.js
  package.json
  src/App.tsx
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --ignore-pattern .gitignore --fix

Fix scripts
  package.json
Due: none

Fix package.json
  package-lock.json
  package.json
Due: none

Add Home Component
  index.html
  src/App.css
  src/App.tsx
  src/components/Gallery.tsx
  src/components/Home.tsx
  src/components/OrganizationCard.tsx
  src/index.css
  src/main.tsx
Due: prettier --write

Remove Default Svg
  src/assets/react.svg
Due: none

Add jest, and cypress with base test
  .prettierrc.json
  cypress.config.ts
  cypress/e2e/gallery.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  eslint.config.js
  index.html
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/Gallery.tsx
  src/components/Home.tsx
  src/components/OrganizationCard.tsx
  src/main.tsx
  tests/OrganizationCard.test.tsx
  tsconfig.app.json
  tsconfig.jest.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint --ignore-pattern .gitignore --fix

Add Home Component
  src/App.tsx
  src/components/OrganizationCard.tsx
  src/main.tsx
Due: none

Add browserRouter
  package-lock.json
  package.json
  src/App.tsx
  src/main.tsx
Due: none

Add jest, and cypress with base test
  src/App.tsx
  src/components/OrganizationCard.tsx
  src/main.tsx
Due: none

Add registration page
  eslint.config.js
  src/App.tsx
  src/components/Home.tsx
  src/pages/Register.tsx
Due: prettier --write, eslint --ignore-pattern .gitignore --fix

Move HomePage
  src/pages/Home.tsx
Due: none

Add axios
  package-lock.json
  package.json
Due: none

Add axios
  src/components/axios.tsx
Due: none

Add auth context, and provider
  src/components/AuthContext.tsx
  src/components/AuthProvider.tsx
  src/main.tsx
  src/pages/Register.tsx
Due: none

Organize components
  src/App.tsx
  src/context/AuthContext.tsx
  src/context/AuthProvider.tsx
  src/main.tsx
  src/pages/Register.tsx
  src/util/axios.tsx
Due: none

Add cypress & jest tests
  cypress/e2e/register.cy.ts
  cypress/fixtures/register-success.json
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/context/AuthService.tsx
  src/pages/Register.tsx
  tests/Register.test.tsx
  tsconfig.jest.json
  tsconfig.json
Due: none

Add env vars to app
  .gitignore
  src/util/axios.tsx
  vite.config.ts
Due: none

Add login
  cypress/e2e/login.cy.ts
  cypress/fixtures/login-success.json
  src/App.tsx
  src/context/AuthService.tsx
  src/pages/Login.tsx
  src/util/axios.tsx
  tests/Login.test.tsx
Due: none

user-management page with mock data
  package-lock.json
  package.json
  src/App.tsx
  src/pages/UserManagement.tsx
Due: none
