Repository chastlyregino/PhotoComp--React-Cypress: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern .gitignore --fix

.lintstagedrc.json:

{
   "*.css": [
     "prettier --write"
   ], 
   "*.{js,vue}" : [
     "prettier --write", 
     "eslint --ignore-pattern .gitignore --fix"
   ]
}

Top Bar and components
  src/components/bars/SearchBar/SearchBar.test.tsx
  src/components/bars/SearchBar/SearchBar.tsx
  src/components/bars/TopBar/TopBar.test.tsx
  src/components/bars/TopBar/TopBar.tsx
  src/components/navButton/NavButton.test.tsx
  src/components/navButton/NavButton.tsx
  src/pages/Home.tsx
  src/pages/Login/Login.tsx
  src/pages/Register/Register.tsx
  src/styles/auth.css
  src/styles/topBar.css
Due: prettier --write

Rename BackButton to NavButton and fix tests
  src/components/navButton/NavButton.test.tsx
Due: none

Add the footer
  src/App.tsx
  src/components/bars/Footer/Footer.test.tsx
  src/components/bars/Footer/Footer.tsx
  src/main.tsx
  src/styles/footer.css
Due: prettier --write

Sidebar now sticky and highlighted
  src/assets/PhotoCompLogo.png
  src/components/bars/SideBar.tsx
Due: none

import font for logo
  src/components/bars/SideBar.test.tsx
  src/styles/SideBar.css
Due: prettier --write

added styles
  src/components/bars/SideBar.tsx
  src/styles/SideBar.css
  tests/mocks/fileMock.js
  tsconfig.app.json
  tsconfig.json
Due: prettier --write, eslint --ignore-pattern .gitignore --fix

update login component
  src/components/forms/AuthForm.tsx
  src/components/forms/FormButton.tsx
  src/components/forms/FormContainer.tsx
  src/components/forms/FormInput.tsx
  src/components/routes/ProtectedRoute.tsx
  src/context/AuthProvider.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
Due: none

rebase
  eslint.config.js
  src/App.tsx
  src/components/bars/SideBar.test.tsx
  src/components/forms/AuthForm/AuthForm.test.tsx
  src/components/forms/AuthForm/AuthForm.tsx
  src/components/forms/FormButton/FormButton.test.tsx
  src/components/forms/FormButton/FormButton.tsx
  src/components/forms/FormContainer/FormContainer.test.tsx
  src/components/forms/FormContainer/FormContainer.tsx
  src/components/forms/FormInput/FormInput.test.tsx
  src/components/forms/FormInput/FormInput.tsx
  src/components/forms/FormRow/FormRow.test.tsx
  src/components/routes/ProtectedRoute/ProtectedRoute.test.tsx
  src/components/routes/ProtectedRoute/ProtectedRoute.tsx
  src/context/AuthContext.tsx
  src/context/AuthProvider.tsx
  src/main.tsx
  src/pages/Login/Login.test.tsx
  src/pages/Login/Login.tsx
  src/pages/Register/Register.test.tsx
  src/pages/Register/Register.tsx
  src/styles/SideBar.css
  src/styles/auth.css
  src/styles/global.css
  tests/mocks/fileMock.js
Due: prettier --write, eslint --ignore-pattern .gitignore --fix

Jest test for side bar
  package-lock.json
  package.json
  src/components/bars/SideBar.test.tsx
  src/types/images.d.ts
  src/vite-env.d.ts
  tests/__mocks__/fileMock.js
  tsconfig.app.json
  tsconfig.jest.json
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --ignore-pattern .gitignore --fix

fix display of col
  src/pages/Home.tsx
  vite.config.ts
Due: none

Add Gallery Card
  src/components/cards/galleryCard/GalleryCard.test.tsx
  src/components/cards/galleryCard/GalleryCard.tsx
Due: none

Fix Organization Card
  src/components/Gallery.tsx
  src/components/cards/galleryCard/GalleryCard.tsx
  src/context/OrgService.tsx
  src/main.tsx
  src/styles/galleryCard.css
Due: prettier --write

Gallery Card styles
  src/styles/galleryCard.css
Due: prettier --write

Fix homepage
  src/pages/Home.tsx
Due: none

put endpoint
  src/App.tsx
  src/components/bars/Footer/Footer.test.tsx
  src/components/bars/Footer/Footer.tsx
  src/components/bars/SearchBar/SearchBar.test.tsx
  src/components/bars/SearchBar/SearchBar.tsx
  src/components/bars/TopBar/TopBar.test.tsx
  src/components/bars/TopBar/TopBar.tsx
  src/components/navButton/NavButton.test.tsx
  src/components/navButton/NavButton.tsx
  src/pages/Home.tsx
  src/pages/Login/Login.tsx
  src/pages/Organizations/ViewOrganizations.tsx
  src/pages/Register/Register.tsx
  src/styles/footer.css
  src/styles/topBar.css
  src/utils/axios.tsx
Due: prettier --write

fixed footer display and login/register font
  src/components/bars/Footer/Footer.tsx
  src/components/bars/SideBar/SideBar.test.tsx
  src/components/bars/SideBar/SideBar.tsx
  src/components/forms/AuthForm.tsx
  src/components/forms/AuthForm/AuthForm.tsx
  src/components/forms/FormButton.tsx
  src/components/forms/FormContainer.tsx
  src/components/forms/FormInput.tsx
  src/components/routes/ProtectedRoute.tsx
  src/context/AuthProvider.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Organizations/ViewOrganizations.tsx
  src/pages/Register.tsx
  src/styles/footer.css
  src/styles/global.css
Due: prettier --write

Updated Card Styles
  src/styles/galleryCard.css
Due: prettier --write

rebase
  tests/mocks/fileMock.js
Due: prettier --write, eslint --ignore-pattern .gitignore --fix

Homepage refactor
  src/App.tsx
  src/components/organizationRow/OrganizationRow.tsx
  src/main.tsx
  src/pages/Organizations.tsx
  src/styles/organizationRow.css
Due: prettier --write

Home page refactored
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Organizations.tsx
  src/styles/footer.css
  src/styles/layout.css
  src/styles/topBar.css
Due: prettier --write

Fix row scroll, and gallery card style
  src/components/organizationRow/OrganizationRow.tsx
  src/styles/galleryCard.css
Due: prettier --write

add sticky-bar, add see more button, fix evaluation, conditional login/register
  src/components/bars/TopBar/TopBar.tsx
  src/components/organizationRow/OrganizationRow.tsx
  src/context/OrgService.tsx
  src/pages/Home.tsx
  src/styles/layout.css
  src/styles/topBar.css
Due: prettier --write
